<ion-header>
  <ion-toolbar>
    <ion-title align="center">Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="datos" novalidate (ngSubmit)="iniciarSesion()">
        <ion-item>
          <ion-label position="floating">Nombre de usuario</ion-label>
          <ion-input placeholder="Entre 5 y 10 caracteres"
            formControlName="username" type="text"></ion-input>
          <ion-note slot="error"
            *ngIf="campo('username').invalid && campo('username').errors &&
            campo('username').errors.required && seToca('username')">
            Ojo: dejó el campo vacío</ion-note>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input placeholder="Entre 8 y 16 caracteres"
            formControlName="password" type="password"></ion-input>
          <ion-note slot="error"
            *ngIf="campo('password').invalid && campo('password').errors &&
            campo('password').errors.required && seToca('password') ">
            Ojo: dejó el campo vacío</ion-note>
          <br>
        </ion-item>
        <ion-button expand="block" type="submit" [disabled]="datos.invalid">Iniciar
          sesión</ion-button>
      </form>
    </ion-card-content>
  </ion-card>


    <p [routerLink]="['/registro']">¿Es nuevo? Regístrese</p>


</ion-content>
